<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
    <div class="jumbotron">
      <h1>Obsolidia</h1>
    </div>
      <h2>My obsolete peripherals.</h2><br>
        <form action="/add" method="post">
					<input type="text" name="item" placeholder="Enter your obsolete item:">
          <button type="submit">SUBMIT</button>
        </form>
				@if (Model.Count > 0)
				{
					foreach (var listItem in Model)
					{
						<h3>@listItem.GetName()</h3>
					}
				}
      <h5><a href="/delete">Clear List</a></h5><br>
    </div>
